{% extends "base.html" %}
{% block title %}{{titre}}{% endblock %}
{% block content %}
<div class="container ">
    <ul>
    {% for coin in coins %}
               <li><h1>
                   <a href="{{url_for('coin.detail_coin', coin_id=coin.id)}}">{{coin.name}}</a> : {{coin.value}} 
                   <a href="{{url_for('coin.delete_coin',coin_id = coin.id)}}" class="btn btn-danger">suprimer</a>
                   <a href="{{url_for('coin.edit_coin',coin_id = coin.id)}}" class="btn btn-success">modifier</a>
                </h1>
            </li> 
    {% endfor %}
</ul>
<a href="{{url_for('coin.add_coin')}}" class="btn btn-info">ajouter</a>
</div>
{% endblock %}